.searchEngine{
    &-input-group{
        display: flex;
        height: 40px;
        opacity: 0.9;
        &-imgBox{
            display: flex;
            background-color: #393E46;
            border-radius: 5px 0 0 5px;
            &-icon{
                width: 30px;
                height: 30px;
                margin:5px;
            }
            &-dropDown{
                margin-top:15px;
                width:10px;
                height: 10px;
            }
        }
        &-dropBox{
            display: flex;
            margin-top:5px;
            padding:5px;
            background-color: #393E46;
            opacity:0.9;
            border-radius: 5px;
            border-radius: 10px;
        }
    }
}

.ant-input{
    border-radius: 0 ;
    background-color:#393E46;
    opacity: 0.9;
}
.ant-input-lg{
    border-radius: 0 ;
}